body{
    background-color: rgb(245, 203, 167);
}

.nav-p{
    background-color: rgb( 235, 152, 78 );
}

.nav-p .container-fluid .navbar-brand .banner{
    width: 55px;
    height: 55px;
}

.nav-p .container-fluid .navbar-brand:hover{
    color: white;
    
}

.nav-p .container-fluid div ul li a:hover{
    color: white;
    
}

.nav-p .container-fluid div ul .dropdown-menu li a:hover{
    color: blue;
    
}

#container{
    margin-top: 50px;
    background-color:  rgb(237, 237, 237);
    border-radius: 20px;
}

#div1{
    padding-top: 50px;
}

#div3{
    padding-top: 50px;
}

#div2{
    padding-top: 50px;
}

#container2{
    background-color: white;
    margin: 25px;

    border-radius: 20px;
    transition:2s;
}

#container2:hover{
    background-color: darkgray;
}

#div4{
    color: aqua;
}

#submit:hover{
    
    color: yellow;
    background-color: rgb( 24, 51, 183 );
    margin-bottom: 10px;
        
    
}

.pagination1{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb( 245, 203, 167 );
}

footer{
    padding: 10px;
    text-align: center;
    background-color: rgb( 202, 207, 210 );;
    color: brown;
}